*{
    margin: 0;
    padding: 0;
}

body{
    background-color:aquamarine;
    text-align: center;


}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;

}

.box{
    width: 18vmin;
    height: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 0.1;
    font-size: 8vmin ;
    color: rgb(163, 222, 163);
    background-color:  #7777c4;


}


.reset{
    padding: 1rem;
    font-size: 2rem;
    color: white;
    background-color:#191913 ;
    border: none;
    border-radius: 1rem;

}

.new-btn{
    padding: 1rem;
    font-size: 2rem;
    color: white;
    background-color:#191913 ;
    border: none;
    border-radius: 1rem;


}


#msg{
    color: #020202;
    font-size: 8vmin; 
}

.msg-container{
    height: 25vmin; 
}

.hide{
    display: none;
}